.Header{
    box-sizing: boarder-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color:darkgreen;
}

/* .Navbar {
    display: block;
    width: 100px;
    height:20px;
    
    
    } */

/* .Container {
    background-color: black;
    display: block;
    flex: row;
} */